<%- include('../../shared/includes/head', { pageTitle: 'Your Cart' }) %>
<link rel="stylesheet" href="/styles/cart.css">
<script src="/scripts/cart-item-management.js" defer></script>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Your Cart</h1>
    <ul id="cart-items">
      <% for (const cartItem of locals.cart.items) { %>
        <li>
          <%- include('includes/cart-item', { item: cartItem }) %>
        </li>
      <% } %>
    </ul>
    <div id="cart-total">
      <p>Total: €<span id="cart-total-price"><%= locals.cart.totalPrice.toFixed(2) %></span></p>
    
      <!-- Cart Message (Controlled via JavaScript) -->
      <p id="cart-total-fallback" 
         data-auth="<%= locals.isAuth %>" 
         style="<%= !locals.isAuth || locals.cart.totalPrice === 0 ? 'display: block;' : 'display: none;' %>">
        <% if (!locals.isAuth) { %>
          Log in to proceed and purchase the items.
        <% } else if (locals.cart.totalPrice === 0) { %>
          Your cart is empty. Add items to your cart before proceeding.
        <% } %>
      </p>
    
      <% if (locals.isAuth) { %>
        <form action="/orders" method="POST" id="order-form"
              style="<%= locals.cart.totalPrice === 0 ? 'display: none;' : 'display: block;' %>">
          <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
          <button id="buy-products-btn" class="btn">Buy Products</button>
        </form>
      <% } %>
    </div>
    
  </main>
  <%- include('../../shared/includes/footer') %>

 
