<%- include('../../shared/includes/head', { pageTitle: 'Signup' }) %>
  <link rel="stylesheet" href="/styles/forms.css">
  <link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Create New Account</h1>
    <% if (inputData.errorMessage) { %>
      <section class="alert">
        <h2>Invalid Input</h2>
        <p><%= inputData.errorMessage %></p>
      </section>
    <% } %>
    <form action="/signup" method="POST">
      <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
      <!-- special type of input not visible to user, instead sent along with every request. '_csrf' is the special name 
       that the csrf package looks for and the value is set by us though the csrf middleware -->
      <p>
        <label for="email">E-Mail</label><!-- LABLE text for the field displayed to the user -->
        <!-- The FOR sttribute in lable and the ID atrribute in input must be the same as that is what connects both of them,
          this is helpful when we click the lable the associated input field gets focused.  -->
        <input type="email" id="email" name="email" value="<%= inputData.email %>" required><!-- REQUIRED field is to make sure its not empty -->
        <!-- VALUE is the prefilled input in the field which the user can change -->
        <!-- the NAME atrribute stored on the server as the key that can later which we can later use on the server side
        to extract the value entered by the user in that input field. eg- req.body.email  -->
      </p>
      <p>
        <label for="confirm-email">Confirm Email</label>
        <input type="email" id="confirm-email" name="confirm-email" value="<%= inputData.confirmEmail %>" required>
      </p>
      <p>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" minlength="6" value="<%= inputData.password %>" required>
      </p>
      <hr>
      <p>
        <label for="fullname">Full Name</label>
        <input type="text" id="fullname" name="fullname" value="<%=inputData.fullname %>" required>
      </p>
      <p>
        <label for="street">Street</label>
        <input type="text" id="street" name="street" value="<%= inputData.street %>" required>
      </p>
      <p>
        <label for="postal">Postal Code</label>
        <input 
          type="text" 
          id="postal" 
          name="postal" 
          minlength="5" 
          maxlength="5" 
          value="<%= inputData.postal %>"
          required>
      </p>
      <p>
        <label for="city">City</label>
        <input type="text" id="city" name="city" value="<%= inputData.city %>" required>
      </p>
      <button class="btn">Create Account</button>
      <p id="switch-form"><a href="/login">Login instead</a></p>
    </form>
  </main>
<%- include('../../shared/includes/footer') %>